/******* MEDIA QUERIES *********/

@media (min-width: 322px) {
    .header-lg {
        display: none;
    }
}

@media (min-width: 768px) {
    footer {
        display: block;
    }
    
    #about {
    display: flex;
    }

    .education {
        font-size: 1.3rem;
    }

    .container-header,
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    main {
        min-height: 70vh;
        max-width: 80%;
        margin: 0 auto;
    }

    /** HEADER LG CONFIG*/    

    header {
        background: var(--menu-bg-color);

        box-shadow: 1px 1px 6px var(--shadow-box);
        width: 100%;

    }

    .header-lg {
        display: flex;
    }

    .nav-lg {
        display: flex;
        column-gap: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        align-self: last baseline;
    }

    .nav-lg a {
        padding-bottom: .5rem;
        transition: font-weight 0.3s ease-in-out;
    }

    .nav-lg a:hover,
    .active-lg {
        font-weight: 800;
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: -1px;
    }

    .header-mobile {
        display: none;
    }

    .nav-mobile {
        display: none;
    }


    /*TIPOGRAFIA*/
    .title {
        font-size: 1.5rem;
        max-width: 15rem;
    }

    #home h1 {
        max-width: 50rem;
        font-size: 5rem;
        line-height: 5rem;
    }

    #home h2 {
        font-size: 2.5rem;
    }


    #home p {
        font-size: 2rem;
        max-width: 40rem;
    }

    i {
        font-size: 3rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .icons-social {
        min-width: 20rem;
    }

    .subSkills {
     font-size: 1.5rem;   
    column-gap: 5rem;
}

    /**ICONES SKILLS**/

    .icons-skills figure {
        max-width: 6rem;
    }

    /**PROJECTS**/


    #projects .section-project-title {
        min-width: 100%;
    }

    .buttons-project .btn {
        min-width: 10rem;
    }


    .btn-black {
        width: 20rem;
    }

    #skills,
    #contact,
    #about {
        align-content: center;
    }


}

@media (min-width: 990px) {
    #projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .buttons-project {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-content: center;

    }

    .card-project {
        max-width: 40%;
    }

    .button-more-projects {
        min-width: 100%;

    }
}